@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">Elenco Pizze </h4>
        <div class="d-flex align-items-center gap-2">
            <h6 class="mb-0">Cerca la tua piazza: </h6>
            <input id="filter" type="text" placeholder="Cerca qui la tua pizza" />
        </div>
    </div>

    <div id="display" class="row"></div>
</section>


@section Scripts {
<script type="text/javascript">
    // Make a request for a user with a given ID
    const FILTER = document.querySelector("#filter")
    FILTER.addEventListener("keyup", serch)
    
        axios.get("/api/pizzas")
            .then(function (response) {
                // handle success
                const DISPLAY = document.querySelector("#display")
                let query = response.data;
                console.log(query);
                DISPLAY.innerHTML = "";
                if (query.length > 0) {
                    query.forEach(pizza =>

                        // CREARE INGREDIENTI


                        DISPLAY.innerHTML += `
                                <div class='col-xs-12 col-sm-6 col-md-4 col-xl-3 mb-3'>
                                    <div class='card mb-3 h-100'>
                                        <svg id='Img' xmlns='http://www.w3.org/2000/svg' class='d-block user-select-none' width='100%' height='200' aria-label='Placeholder: Image cap' focusable='false' role='img' preserveAspectRatio='xMidYMid slice' viewBox='0 0 318 180' style='font-size:1.125rem;text-anchor:middle'>
                                            <rect width='100%' height='100%' fill='#868e96'></rect>
                                            <text x='50%' y='50%' fill='#dee2e6' dy='.3em'>Image cap</text>
                                        </svg>

                                        <div class='card-body d-flex flex-column '>
                                           <div class='d-flex justify-content-between mb-2'>
                                             <h5 class='card-title'>${pizza.name}</h5>
                                             <h5 class='card-title text-muted'>${pizza.price.toFixed(2)} €</h5>
                                           </div>
                                           <h6 id='Description' class='card-subtitle text-muted flex-grow-1 mb-2'>${pizza.description}</h6>
                                           <a href='#' class='card-link'>Dettagli</a>
                                        </div>
                                    </div>
                                </div>
                                `)

                } else {
                    DISPLAY.innerHTML = "<h3> Non sono presenti pizze nel tuo Menu </h3>"
                }
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .then(function () {
                // always executed
            });





    function serch() {
        axios.get("/api/pizzas", {
                params: {
                    name: FILTER.value
                }
            })
          .then(function (response) {
            // handle success
                const DISPLAY = document.querySelector("#display")
                let query = response.data;
                console.log(query);
                DISPLAY.innerHTML = "";
                if(query.length>0){
                    query.forEach( pizza => 

                        // CREARE INGREDIENTI


                        DISPLAY.innerHTML += `
                         <div class='col-xs-12 col-sm-6 col-md-4 col-xl-3 mb-3'>
                            <div class='card mb-3 h-100'>
                                <svg id='Img' xmlns='http://www.w3.org/2000/svg' class='d-block user-select-none' width='100%' height='200' aria-label='Placeholder: Image cap' focusable='false' role='img' preserveAspectRatio='xMidYMid slice' viewBox='0 0 318 180' style='font-size:1.125rem;text-anchor:middle'>
                                    <rect width='100%' height='100%' fill='#868e96'></rect>
                                    <text x='50%' y='50%' fill='#dee2e6' dy='.3em'>Image cap</text>
                                </svg>

                                    <div class='card-body d-flex flex-column '>
                                    <div class='d-flex justify-content-between mb-2'>
                                        <h5 class='card-title'>${pizza.name}</h5>
                                        <h5 class='card-title text-muted'>${pizza.price.toFixed(2)} €</h5>
                                    </div>
                                    <h6 id='Description' class='card-subtitle text-muted flex-grow-1 mb-2'>${pizza.description}</h6>
                                    <a href='#' class='card-link'>Dettagli</a>
                                </div>
                            </div>
                        </div>
                        `)
                     
                }else{
                    DISPLAY.innerHTML = "Non ci sono corrispondenze con le tue ricerche";
                }
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            // always executed
          });
    }
</script>
}


@*

    <div class='col-xs-12 col-sm-6 col-md-4 col-xl-3'>
        <div class='card mb-3'>
            <svg id='Img' xmlns='http://www.w3.org/2000/svg' class='d-block user-select-none' width='100%' height='200' aria-label='Placeholder: Image cap' focusable='false' role='img' preserveAspectRatio='xMidYMid slice' viewBox='0 0 318 180' style='font-size:1.125rem;text-anchor:middle'>
                <rect width='100%' height='100%' fill='#868e96'></rect>
                <text x='50%' y='50%' fill='#dee2e6' dy='.3em'>Image cap</text>
            </svg>

            <div class='card-body'>
                <div class='d-flex justify-content-between mb-2'>
                    <h5 class='card-title'>Nome Pizza</h5>
                    <h5 class='card-title text-muted'>Prezzo</h5>
                </div>
                <h5 id='Description' class='card-subtitle text-muted mb-2'>Descrizione Prodotto</h5>
                <a href='#' class='card-link'>Dettagli</a>
            </div>
        </div>
    </div>*@